{% extends "beshvili/skeleton.html" %}

{% block title %}אימון והדרכה{% endblock title %}

	<body>
		<div class="pseudo-bg"></div>
		<header>
		    <img src="/static/beshvili/img/site-logo.png" />
		    <h1 class="slogan">בשבילי<br>הכוונה והדרכה מול אתגרי הפוריות</h1>
			<nav>
			<ul>
				<li class="disabled"><a href="#">בלוג</a></li>
				<li class="disabled"><a href="#">שירים</a></li>
				<li class="disabled"><a href="#">אודות</a></li>
				<li class="disabled"><a href="#">ספר</a></li>
				<li class="disabled"><a href="#">פורום</a></li>
			</ul>
			</nav>
		</header>
		<section>
			<h2>אתר נולד לאט לאט...</h2>
			<h3>בנתיים, <a href="mailto:galitfri@gmail.com?Subject=%D7%9E%D7%90%D7%AA%D7%A8%20%D7%91%D7%A9%D7%91%D7%99%D7%9C%D7%99">שלחי לי מייל</a></h3>
		</section>
		<footer></footer>

	</body>