<!DOCTYPE html>
<html ng-app="beshviliApp">
	<head>
	    <meta charset="utf-8" />
		<meta name="author" content="Galit Friedman" />
		<title>בשבילי - אימון והדרכה</title>
		<meta name="description" content="כיוון אישי לנשים מאותגרות פוריות">

		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

		<!-- add styles -->
		<link href="/static/beshvili/css/style.css" rel="stylesheet" type="text/css" />

	</head>
	<body>
		<div class="pseudo-bg"></div>
		<header>
		    <img src="/static/beshvili/img/site-logo.png" style="width: 5%; float: right;" />
		    <h1 style="float: right; text-align: right; font-size: 4em; margin: 3.8% 0%;">בשבילי<br>הכוונה והדרכה מול אתגרי הפוריות</h1>
			<nav></nav>
		</header>
		<section>
			<h2>אתר נולד לאט לאט...</h2>
		</section>
		<footer></footer>

		<!-- add javascripts -->
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	</body>
</html>