<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
		<meta name="author" content="Galit Friedman" />
		<title>בשבילי - אימון והדרכה</title>
		<meta name="description" content="כיוון אישי לנשים מאותגרות פוריות">
		
		<link rel="icon" type="image/png" sizes="32x32" href="/static/beshvili/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/beshvili/img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/beshvili/img/favicon-16x16.png">

		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

		{% load compress %}
		{% compress css %}
		<!-- add styles -->
		<link href="/static/beshvili/css/style.css" rel="stylesheet" type="text/css" />
		{% endcompress %}

	</head>
	<body>
		<div class="pseudo-bg"></div>
		<header>
		    <img src="/static/beshvili/img/site-logo.png" />
		    <h1 class="slogan">בשבילי<br>הכוונה והדרכה מול אתגרי הפוריות</h1>
			<nav>
			<ul>
				<li><a href="/weblog">בלוג</a></li>
				<li><a href="#">שירים</a></li>
				<li><a href="#">אודות</a></li>
				<li><a href="#">ספר</a></li>
				<li><a href="#">פורום</a></li>
			</ul>
			</nav>
		</header>
		<section>
			<h2>אתר נולד לאט לאט...</h2>
			<h3>בנתיים, <a href="mailto:galitfri@gmail.com?Subject=%D7%9E%D7%90%D7%AA%D7%A8%20%D7%91%D7%A9%D7%91%D7%99%D7%9C%D7%99">שלחי לי מייל</a></h3>
		</section>
		<footer></footer>

		{% compress js %}
		<!-- add javascripts -->
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/static/beshvili/js/general.js"></script>
		{% endcompress %}
	</body>
</html>