#header {
  margin-bottom: 1em;

  h1 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-weight: bold;
    &:first-letter {
      font-size: 130%;
    }
  }

  blockquote {
    border: none;
    background: none;
    margin:  0 0 1.5em 0;
    padding: 0 1.5em 0 0;
	.rtl & {
		padding: 0 0 0 1.5em;
	}
  }

  form {
    float: right;
    clear: both;
    display: none;
    input[type=text] {
      width: 85%;
      background-image: url("../img/search.png");
      background-repeat: no-repeat;
      background-position: 5px center;
      padding-left: 25px;
      border-radius: 5px;
	  .rtl & {
			padding-right: 25px;
			padding-left: 0px;
		}
    }
    input[type=submit] {
      display: none;
    }
	.rtl & {
		float: left;
	}
  }

  .top-navigation {
    margin: 0;
    float: right;
    display: none;
    @include delimited-list("|");
    .sitemap {
      @include header-icon("sitemap.png");
    }
    .feeds {
      @include header-icon("rss.png");
    }
	
	.rtl & {
		float: left;
	}
  }

  @include breakpoint("small") {
    form, .top-navigation {
      display: block;
    }
  }
  @include breakpoint("medium") {
    h1 {
      font-size: 4em;
    }
  }
  @include breakpoint("large") {
    h1 {
      background: transparent url("../img/logo.png") no-repeat scroll left center;
      padding-left: 1.5em;
	  .rtl & {
		background: transparent url("../img/logo.png") no-repeat scroll right center;
		padding-left: 0em;
		padding-right: 1.5em;
	  }
	  background-size: 4.5% 100%;
    }
    blockquote {
      margin-left: 6em;
	  .rtl & {
		margin-right: 6em;
		margin-left: 0em;
	  }
    }
  }
}