@import "basics";

header {
	.slogan {
		float: right;
		margin: 0em 3em;
		
		h1 {
			text-align: right;
			font-size: 6em;
			font-weight: bold;
			margin: 0em;
		}

		h2 {
			text-align: right;
			font-size: 4em;
			font-weight: normal;
			margin: 0em 0em;
		}
	}
	img {
		width: 6.5em;
		float: right;
	}
	nav {
		clear: both;
		text-align: center;
		border-top: 1px solid #bbbbbb;
		
		ul {
			text-align: center;
			display: inline-block;
			width: 90em;
			margin: 0%;
			
			li {
				list-style: none;
				font-size: 3em;
				float: right;
				margin: 0% 1em;
				padding: 0.6% 2%;
				width: 2.5em;
				text-align: center;
				display: inline-block;
				cursor: pointer;
				
				&:nth-child(1){
					background-color: #CCEECC;
				}
				&:nth-child(2){
					background-color: #EECCCC;
				}
				&:nth-child(3){
					background-color: #CCCEEC;
				}
				&:nth-child(4){
					background-color: #CECCCE;
				}
				&:nth-child(5){
					background-color: #CCCCEE;
				}
				&:nth-child(5):after{
					content: " ";
					@extend .clear;
				}
				
				&.disabled{
					cursor: default;

					a {
						color: #9595ff;
						cursor: default;
					}
				}
			}
		}
	}
}